@import '../../../../../assets/scss/constant/media.scss';

.wrapper-user {
    padding: 0px 30px;
    margin: 5px 0px;
    border: solid 1px black;

    @media (max-width:$mobileM) {
        font-size: 15px;
        padding: 0px 10px 0px 0px;
    }
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;


    &-img {
        max-width: 70px;
        max-height: 70px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.wrapper-user-searcher {
    width: 100%;
    max-width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}